<div class="sixteen columns">

<h3>Guestbook</h3>

<table style="width: 100%">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
  </tr>

<% @guests.each do |guest| %>
  <tr>
    <td><%= link_to guest.name, guest %></td>
    <td><%= guest.email %></td>
    <td><%= guest.phone %></td>
    <td><%= guest.address %></td>
  </tr>
<% end %>
</table>

</div>
