<div class="sixteen columns">
<h2>Recordings</h2>
<p><%= link_to 'Contribute a recording of your own', new_recording_path %></p>

<% @recordings.each do |recording| %>
  <div>  
    <strong><%= link_to recording.title, recording %></strong> (<%= recording.when.year %><% if recording.place != '' %> in <%= recording.place %><% end %>)
  </div>
<% end %>

<div>