<div class="sixteen columns">
<h2>Videos</h2>

<% @videos.each do |video| %>
  <div>  
    <strong><%= link_to video.title, video %></strong> (<%= video.when.year %><% if video.place != '' %> in <%= video.place %><% end %>)
  </div>
<% end %>

<div>
