<div class="sixteen columns">
  <div style="clear:both; margin: 25px 0px;"><%= link_to 'Share a New Photo', new_photo_path %></div>
<% (1973..2013).map{|y|y}.reverse.each do |year| %>
	<% photos_this_year = @photos.select{|p| p.when.year == year} %>
	<% if photos_this_year.size > 0 %>
		<h2><%= year %></h2>
		<div class="album">
		<% photos_this_year.each do |photo| %><%= link_to image_tag(photo.photograph.url(:small)), photo %><% end %>
		</div>
	<% end %>
<% end %>

</div>